.App {
  text-align: center;
}

.snackbar {
  width: 100%;
  color: white;
  max-width: 150px;
  background: white;
  position: fixed;  
  padding: 5px;  
  bottom: 5%;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);   
  background-color: crimson;     
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  animation-name: slide-in-snackbar;
  animation-duration: 0.5s;
}


@keyframes slide-in-snackbar {
  from {
    opacity: 0;
    transform: translate(-50%, 50px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%, 0);
  }
}
