.App {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
}

.modal-dialog {
  width: 100%;
  max-width: 550px;
  background: white;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modal-movie {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;  
  align-items: center;
  padding: 40px 0px;
}

.snackbar {
  width: 100%;
  color: white;
  max-width: 150px;
  background: white;
  position: fixed;  
  padding: 5px;  
  bottom: 5%;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);   
  background-color: crimson;     
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  animation-name: slide-in-snackbar;
  animation-duration: 0.5s;
}


@keyframes slide-in-snackbar {
  from {
    opacity: 0;
    transform: translate(-50%, 50px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%, 0);
  }
}
